.app-container {
  background-image: linear-gradient(#fbc7d4, #9796f0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointment-container {
  width: 80%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}
.main-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
}

.appointment-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .appointment-input {
    flex-direction: row;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}
@media screen and (min-width: 768px) {
  .form {
    width: 28%;
    min-width: 300px;
    order: 0;
  }
}
.title-label {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 5px;
}
.title-input {
  height: 40px;
  padding-left: 16px;
  border: 1px solid #b5b7c4;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.date-label {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 5px;
}

.date-input {
  height: 40px;
  padding-left: 16px;
  border: 1px solid #b5b7c4;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.submit-button {
  background-color: #8b5cf6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  min-width: 60px;
  border-radius: 5px;
  align-self: flex-start;
  outline: none;
  border: none;
  cursor: pointer;
}
.app-img {
  height: 200px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .app-img {
    width: 380px;
    height: 300px;
  }
}

.line {
  border: 1px solid #b5b7c4;
  width: 100%;
  margin-top: 16px;
}

.appointments-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointments-heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #171f46;
  font-weight: 500;
}

.starred-button {
  font-family: 'Roboto';
  color: #9897f0;
  border: 1px solid #9897f0;
  border-radius: 15px;
  background-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.appointments-list-container {
  display: flex;
}

.appointment-list-item {
  height: 80px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #b5b7c4;
  padding: 8px;
  padding-top: 0px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.appointment-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment-name {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
}
.starred-item-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.star-img {
  height: 20px;
}

.appointment-date {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 16px;

  margin-top: 0px;
}
